* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: tomato;
}

html,
body {
    max-width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    height: 100%;
    position: relative;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav a {
    margin: 12px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: bolder;
    color: whitesmoke;
    font-size: 16px;
}

nav a:hover {
    color: yellow;
    font-size: 19px;
}

canvas {
    border: black dotted 2px;
    background: lightsalmon;
    cursor: crosshair;
}

.titles {
    width: 100%;
    max-width: 960px;
}

.image_container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 960px;
    max-height: 300px;
    margin-bottom: 24px;
}

form {
    width: 100%;
    max-width: 960px;
    text-align: center;
    position: relative;
}

h1,
h2 {
    margin: 40px;
    margin-top: 40px;
    text-align: center;
}

h1 {
    font-size: 35px;
}

.userSpan {
    color: yellow;
}

.ugly {
    font-family: creepster;
    font-size: 30px;
    color: yellow;
    -webkit-text-stroke: black 0.1px;
}

.errorMessage {
    width: 100%;
    max-width: 960px;
    margin-bottom: 18px;
    font-size: 18px;
    text-align: center;
    font-style: oblique;
}

button {
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border-radius: 45px;
    border: black 2px solid;
    background: yellow;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: greenyellow;
    position: relative;
    top: 2px;
}

#resetButton {
    outline: none;
    transform: translateX(-13px);
    width: 130px;
}

.below_sig {
    font-size: 14px;
    font-style: italic;
}

#hawaii_img {
    border: 3.5px black solid;
    max-width: 100%;
}

.footer {
    text-align: center;
    transform: translateY(30px);
    font-size: 15px;
    font-style: oblique;
}

/* all Jackie movements below */

.jackieHidden {
    transform: translateX(10000px);
}

.moveFirst {
    transform: translate(700px, -520px) rotate(720deg);
    transition-duration: 2s;
}

.jackieHidden2 {
    transform: translateX(-10000px);
}

.moveSecond {
    transform: translate(-340px, -520px) rotate(720deg);
    transition-duration: 2s;
}

@media (max-width: 976px) {
    #jackie {
        display: none;
    }
    #jackie2 {
        display: none;
    }
    h1 {
        margin-top: 70px;
    }
}

@media (max-width: 344px) {
    nav a {
        margin: 8px;
        margin-right: 10px;
    }
}
