* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    max-width: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    background: rgba(255, 99, 71, 0.88);
}

.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav a:last-child {
    margin-right: 68px;
}

nav a {
    outline: none;
    margin: 12px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: bolder;
    color: whitesmoke;
    font-size: 20px;
}

nav a:hover {
    transition: all 0.3s ease;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: yellow;
    font-size: 19px;
}

canvas {
    border: black dotted 2px;
    background: lightsalmon;
    cursor: crosshair;
    max-width: 100%;
}

.titles {
    width: 100%;
}

.image_container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 300px;
    margin-bottom: 24px;
}

form {
    max-width: 100%;
    text-align: center;
    position: relative;
}

.titleContainer {
    margin-bottom: 20px;
}

h1 {
    font-size: 35px;
    margin: 40px;
    margin-top: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.userSpan {
    color: yellow;
}

.ugly {
    font-family: creepster;
    font-size: 30px;
    color: yellow;
    -webkit-text-stroke: black 0.1px;
}

.errorMessage {
    border: beige groove 1.5px;
    max-width: 100%;
    width: max-content;
    font-size: 16px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    font-style: oblique;
}

button {
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border-radius: 45px;
    border: black 2px solid;
    background: yellow;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: greenyellow;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.submitButton {
    position: relative;
}

#resetButton {
    outline: none;
    width: 130px;
    position: relative;
    left: -15px;
}

.below_sig {
    font-size: 14px;
    font-style: italic;
}

#hawaii_img {
    border: 3.5px black solid;
    max-width: 100%;
}

.footer {
    text-align: center;
    transform: translateY(30px);
    font-size: 15px;
    font-style: oblique;
}

/* all Jackie movements below */

.jackieHidden {
    position: absolute;
    right: -970px;
    top: 240px;
}

.moveFirst {
    transform: translateX(-1000px) rotate(1080deg);
    transition-duration: 2s;
}

.jackieHidden2 {
    position: absolute;
    left: -970px;
    top: 240px;
}

.moveSecond {
    transform: translateX(1000px) rotate(-1080deg);
    transition-duration: 2s;
}

@media (max-width: 1023px) {
    .jackie {
        display: none;
    }
    .jackie2 {
        display: none;
    }
    h1 {
        margin-top: 70px;
    }
}

@media (max-width: 446px) {
    nav a {
        font-size: 20px;
        margin: 5px;
        margin-right: 8px;
    }

    nav a:last-child {
        margin-right: 28px;
    }
}

@media (max-width: 352px) {
    nav a {
        font-size: 16px;
    }
}
