* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: tomato;
}

html,
body {
    display: flex;
    justify-content: center;
    min-height: 100%;
    font-family: sans-serif;
}

p {
    margin: 2px;
}

#hawaii_img {
    margin: 20px;
    border: 3.5px black solid;
}

.contain {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin-top: 20px;
}

.ordered_list {
    margin-left: 18px;
    margin: 0 auto;
    width: max-content;
}

h1 {
    margin-bottom: 18px;
}

li {
    font-style: italic;
    margin: 3px;
    width: max-content;
}

li:first-child {
    margin-top: 10px;
}

li:last-child {
    margin-bottom: 30px;
}

#sigId {
    border: black dotted 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#thumbsUp {
    margin: 40px;
}

.userSpan {
    color: yellow;
}

.input_holder {
    height: 50px;
    width: 170px;
    display: block;
}

.errorMessage {
    width: 100%;
    font-size: 18px;
    max-width: 960px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-style: oblique;
}

input {
    background: white;
    margin-bottom: 1.5px;
}

form {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170px;
    margin: 0 auto;
    margin-top: 18px;
}

button {
    width: 72px;
    height: 30px;
    border-radius: 45px;
    border: black 2px solid;
    background: yellow;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}
#deleteButton {
    transform: translate(220px, -80px);
}

button:hover {
    background-color: greenyellow;
    position: relative;
    top: 2px;
}

#deleteButton {
    width: 80px;
    height: 45px;
}

.editProfile {
    margin: 3px;
}

.seeAllLink {
    margin-bottom: 10px;
}

.footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    font-size: 15px;
    font-style: oblique;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightsalmon;
    font-style: italic;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: pink;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: pink;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: pink;
}
