* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: tomato;
}

html,
body {
    display: flex;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}

.contain {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav a:last-child {
    margin-right: 68px;
}

nav a {
    outline: none;
    margin: 12px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: bolder;
    color: whitesmoke;
    font-size: 20px;
}

nav a:hover {
    transition: all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: yellow;
    font-size: 19px;
}

.ugly {
    font-family: creepster;
    font-size: 30px;
    color: yellow;
    -webkit-text-stroke: black 0.1px;
}

#thanksTitle {
    margin-top: 50px;
}

p {
    margin: 2px;
}

.p_Margin {
    margin-top: 10px;
}

#hawaii_img {
    max-width: 100%;
    margin-top: 50px;
    border: 3.5px black solid;
}

.registerImage {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3.5px black solid;
}

.ordered_list {
    margin: 0 auto;
    width: max-content;
    transform: translateX(45px);
}

h1 {
    margin-top: 20px;
    margin-bottom: 12px;
}

.register h3 {
    font-weight: normal;
    margin: 4px;
}

.x {
    padding-top: 8px;
}

.register h1 {
    margin-top: 40px;
}

li {
    font-style: italic;
    margin: 3px;
    width: max-content;
}

li:first-child {
    margin-top: 35px;
}

li:last-child {
    margin-bottom: 30px;
}

#sigId {
    border: black dotted 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#thumbsUp {
    margin: 40px;
}

.userSpan {
    color: yellow;
}

.input_holder {
    margin-bottom: 10px;
    height: 45px;
    width: 170px;
    display: block;
}

.errorMessage {
    border: beige groove 1.5px;
    max-width: 100%;
    width: max-content;
    font-size: 16px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-style: oblique;
}

input {
    background: white;
    margin-bottom: 1.5px;
}

form {
    margin-top: 18px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170px; */
    margin: 0 auto;
    margin-top: 18px;
}

.numSigs {
    margin-bottom: 30px;
}

.deleteForm {
    height: 0px;
}

.backToReg {
    margin-top: 10px;
}

button {
    width: 72px;
    height: 30px;
    border-radius: 45px;
    border: black 2px solid;
    background: yellow;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

button:hover {
    background-color: greenyellow;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#deleteButton {
    width: 80px;
    height: 45px;
    position: relative;
    right: -220px;
    top: -80px;
}

.editProfile {
    margin: 3px;
}

.seeAllLink {
    margin-bottom: 10px;
}

.backButton {
    margin-bottom: 18px;
}

.footer {
    position: relative;
    bottom: 10px;
    width: 100%;
    font-size: 15px;
    font-style: oblique;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightsalmon;
    font-style: italic;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: pink;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: pink;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: pink;
}

@media (max-width: 976px) {
    #hawaii_img {
        margin-top: 100px;
    }

    #thanksTitle {
        margin-top: 100px;
    }

    .ordered_list {
        margin-bottom: 30px;
    }

    .editProfile {
        height: 30px;
        margin-top: 50px;
    }
}

@media (max-width: 545px) {
    #deleteButton {
        right: 0;
        top: 0;
    }
}

@media (max-width: 446px) {
    nav a {
        font-size: 20px;
        margin: 5px;
        margin-right: 8px;
    }

    nav a:last-child {
        margin-right: 28px;
    }
}

@media (max-width: 352px) {
    nav a {
        font-size: 16px;
    }
}
