<form method="post" class="petition-form">
<div>
  <input type="hidden" name="sig" value="" id="sig_input">
</div>
<input type="hidden" name="_csrf" value="{{csrfToken}}">

{{>canvas}}

<button name="reset" type="button" id="resetButton">Reset Signature</button>
<button type="submit" name="button" class="submitButton">Submit</button>
</form>
