<form method="post" class="deleteForm" autocomplete="off">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button id="deleteButton" name="deleteButton" class="soundEffect">Delete Signature</button>
</form>
