<form method="post" class="petition-form" autocomplete="off">
<div class="input_holder">
  <input type="text" name="firstname"> First Name
</div>
<div class="input_holder">
  <input type="text" name="lastname"> Last Name
</div>
<div>
  <input type="text" name="sig" value="" id="sig_input">
</div>

{{>canvas}}

<button name="button">Submit</button>

</form>
