<form method="post" class="register-form" autocomplete="off">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button id="deleteButton" name="deleteButton">Delete Signature</button>
</form>
