<form method="post" class="petition-form">
<div class="input_holder">
  <input type="text" name="firstname"> First Name
</div>
<div class="input_holder">
  <input type="text" name="lastname"> Last Name
</div>
<div>
  <input type="hidden" name="sig" value="" id="sig_input">
</div>
<input type="hidden" name="_csrf" value="{{csrfToken}}">

{{>canvas}}

<button type="submit" name="button" class="submitButton">Submit</button>
<button name="reset" type="button" id="resetButton">Reset Signature</button>
</form>
