<nav>
  <a class="navButton soundEffect" href="/list_signups">All Signatures</a>
  <a class="navButton soundEffect" href="/profile/edit">Settings</a>
  <a class="navButton soundEffect" href="/logout">Log Out</a>
</nav>
