<form method="post" class="profile-form" autocomplete="off">
  <div class="input_holder">
    <input type="text" name="age" placeholder=" Optional"> Age
  </div>
  <div class="input_holder">
    <input type="text" name="city" placeholder=" Optional"> City
  </div>
  <div class="input_holder">
    <input type="text" name="homepage" placeholder=" Optional"> Homepage
  </div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button name="continueButton">Continue</button>
</form>
