<form method="post" class="profile-form" autocomplete="off">
  <div class="input_holder">
    <input type="text" name="age" placeholder=" Optional">
    <p>Age</p>
  </div>
  <div class="input_holder">
    <input type="text" name="city" placeholder=" Optional">
    <p>City</p>
  </div>
  <div class="input_holder">
    <input type="text" name="homepage" placeholder=" Optional">
    <p>Homepage</p>
  </div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button name="continueButton" class="soundEffect">Continue</button>
</form>
