<form method="post" class="register-form" autocomplete="off">
<div class="input_holder">
  <input type="text" name="firstname"> First
</div>
<div class="input_holder">
  <input type="text" name="lastname"> Last</div>
<div class="input_holder">
  <input type="text" name="email"> E-mail Address
</div>
<div class="input_holder">
  <input type="password" name="password"> Password
</div>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button class="registerButton soundEffect" name="registerButton">Register</button>
</form>
