<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign the Petition!</title>
    <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
    <link rel="stylesheet" href="/homeStyling.css">
  </head>
  <body>
    <div class="wrapper">
      {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </body>
</html>
