<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign the Petition!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
    <link rel="stylesheet" href="/homeStyling.css">
  </head>
  <body>
    <div class="wrapper">
      {{{body}}}
    </div>
    <audio id='hoverButton' src="/hoverButton.mp3">
      <source src=".mp3" type="audio/">
    </audio>
    <audio id='drawingSound' src="/drawingSound.mp3">
      <source src=".mp3" type="audio/">
    </audio>
    <audio id='resetButtonEffect' src="/resetButton.mp3">
      <source src=".mp3" type="audio/">
    </audio>
    <audio id='clickButton' src="/clickButton.mp3">
      <source src=".mp3" type="audio/">
    </audio>
    <audio id='drawingSound' src="/drawingSound.mp3">
      <source src=".mp3" type="audio/">
    </audio>
    <script src="/sound.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </body>
</html>
