<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign the Petition!</title>
    <link rel="stylesheet" href="/homeStyling.css">
  </head>
  <body>
    <div class="wrapper">
      {{{body}}}
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="meme.js"></script>
      <script src="signatureCanvas.js"></script>
    </div>
  </body>
</html>
