<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign the Petition!</title>
    <link rel="stylesheet" href="/second.css">
  </head>
  <body>
      {{{body}}}
      <audio id='hoverButton' src="/hoverButton.mp3">
        <source src=".mp3" type="audio/">
      </audio>
      <audio id='clickButton' src="/clickButton.mp3">
        <source src=".mp3" type="audio/">
      </audio>
      <audio id='drawingSound' src="/drawingSound.mp3">
        <source src=".mp3" type="audio/">
      </audio>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/sound.js" charset="utf-8"></script>
  </body>
</html>
