<section class="titles">
  {{>header}}
  <h1>Welcome, <span class="userSpan">{{firstName}}</span>!</h1>
  <div class="titleContainer">
    <h2>Sign the petition below to help us make the creation of <span class="ugly">Hawaiian Pizzas</span> a serious
    criminal offense across the globe.</h2>
  </div>
</section>
<section class="image_container">
<img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" id="hawaii_img">
</section>
{{#if error}}
<div class="errorMessage">
<p>Oops! Something went wrong!</p>
</div>
{{/if}}
{{>form}}
{{>footer}}
<img src="./jackie.png" alt="meme" width= "300px" class="jackie jackieHidden">
<img src="./jackie2.png" alt="meme" width= "300px" class="jackie2 jackieHidden2">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="meme.js"></script>
<script src="signatureCanvas.js"></script>
