<section class="titles">
  <h1>Welcome, <span class="userSpan">{{currentUser}}</span>!</h1>
  <h2>Sign the petition below to help us make the creation of <span class="ugly">Hawaiian Pizzas</span> a serious
  criminal offense across the globe.</h2>
</section>
<section class="image_container">
<img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" id="hawaii_img">
</section>
{{#if error}}
<div class="errorMessage">
<p>Oops! Something went wrong!</p>
</div>
{{/if}}
{{>form}}
<img src="./jackie.png" alt="meme" width= "300px" id="jackie" class="jackieHidden">
<img src="./jackie2.png" alt="meme" width= "300px" id="jackie2" class="jackieHidden2">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="meme.js"></script>
<script src="signatureCanvas.js"></script>
