<section class="titles">
  <h1>Petition Form- Support us on a common cause!</h1>
  <h2>Sign below to help us make the creation of Hawaiian Pizzas a serious
  criminal offense across the globe.</h2>
</section>
<section class="image_container">
<img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" id="hawaii_img">
</section>
{{#if randomerrormessage}}
<div class="errorMessage">
<p>Error! Make sure to submit all three fields before clicking the submit button!</p>
</div>
{{/if}}
{{>form}}
<img src="./jackie.png" alt="meme" width= "300px" id="jackie" class="jackieHidden">
<img src="./jackie2.png" alt="meme" width= "300px" id="jackie2" class="jackieHidden2">
