<section class="contain">
  {{>header}}
  <img src="/pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" id="hawaii_img">
  <h1>Edit Your Profile</h1>
  {{#if error}}
  <p class="errorMessage">Oops! Something went wrong!</p>
  {{/if}}
  {{>editForm}}
</section>
