<section class="contain">
  {{>header}}
  <img src="/pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" id="hawaii_img">
  <h1>Edit Your Profile</h1>
  {{#if error}}
    <p class="errorMessage">Oops! Something went wrong!</p>
  {{/if}}
  {{#if errorPassword}}
    <p class="errorMessage">Your password sucks! Please make sure to have at least 8 characters, at least 1 number, 1 upper and 1 lower case letter.</p>
  {{/if}}
  {{>editForm}}
</section>
