<section class="contain">
  <img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" id="hawaii_img">
  <h1>- Find below the honorable people who signed up for the good cause -</h1>
  <ol class="ordered_list">
  {{#signers}}
  <li>{{first_name}} {{last_name}}</li>
  {{/signers}}
  </ol>
</section>
