<section class="contain">
  <img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" id="hawaii_img">
  <h1>Please Log In</h1>
  {{#if error}}
  <p class="errorMessage">Oops! Something went wrong!</p>
  {{/if}}
  {{>loginForm}}
</section>
