<section class="contain">
  <h1 class="registerH1">Petition to ban <span class="ugly">Hawaiian Pizzas</span></h1>
  <img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" class="registerLoginImage">
  <h1>Please Log In</h1>
  {{#if error}}
  <p class="errorMessage">Oops! Something went wrong!</p>
  {{/if}}
  {{#if wrongUserPw}}
  <p class="errorMessage">Wrong Username or Password!</p>
  {{/if}}
  {{>loginForm}}
</section>
