<section class="contain profile">
  {{>header}}
  <h1 class="secondLayoutTitle">Your Profile</h1>
  <img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" class="registerLoginImage">
  <h3>Feel free to tell us a little more about yourself!</h3>
  {{#if error}}
  <p class="errorMessage">Oops! Something went wrong!</p>
  {{/if}}
  {{>profileForm}}
</section>
