<section class="contain register">
  <h1 class="registerLoginH1">Petition to ban <span class="ugly">Hawaiian Pizzas</span></h1>
  <img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" class="registerLoginImage">
  <h3>A world WITHOUT  pineapple on your pizzas is within reach but we won't get there without your support.</h3>
  <h3 class="x"><strong>Make a difference, join our campaign today!</strong></h3>
  {{#if error}}
  <p class="errorMessage">Oops! Something went wrong!</p>
  {{/if}}
  {{#if errorPassword}}
  <p class="errorMessage">Your password is weak! Please make sure to have at least 8 characters, at least 1 number, 1 upper and 1 lower case letter.</p>
  {{/if}}
  {{>registerForm}}
  <p>Already a member? <a href="/login">Log in!</a></p>
</section>
