<section class="contain">
  <img src="./pizza_hawaii.jpg" alt="pizza hawaii" width= "400px" id="hawaii_img">
  <h1>Petition to ban Hawaiian Pizzas</h1>
  <p>A world without pineapple on your pizzas is within reach but we won't get there without your support.</p>
  <p class="x">Make a difference, join our campaign today!</p>
  {{#if error}}
  <p class="errorMessage">Oops! Something went wrong!</p>
  {{/if}}
  {{#if errorPassword}}
  <p class="errorMessage">Your password is weak! Please make sure to have at least 8 characters, at least 1 number, 1 upper and 1 lower case letter.</p>
  {{/if}}
  {{>registerForm}}
  <p>Already a member? <a href="/login">Log in!</a></p>
</section>
