<div class="thanksContain">
  <h1>Thank you for signing our petition!</h1>
  <img src="/thumbsUp.png" alt="success" width="250" id="thumbsUp">
  <h2>By participating in this petition, you have helped the culinary world become a better place.</h2>
  <img src="{{userSignature}}" alt="signature" id="sigId">
  <div class="seeAllLink">
    <a href="/list_signups">See all {{numberSigners}} signers!</a>
  </div>
</div>
